* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* YouTube Video Container */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.youtube-video {
  width: 100%;
  max-width: 1400px;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}


/* =========================
   MOBILE (max-width: 768px)
   ========================= */
@media (max-width: 768px) {

  .youtube-video {
    width: 100%;
    max-width: 2000px;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
  }
  
}