/* Footer */
.footer {
    font-family: 'Inter', sans-serif;
    padding: 50px 0 20px 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
    color: #9f9f9f;
  }
  
  .footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
  }
  
  .footer .social-links li a img {
    width: 24px;
    filter: invert(1); /* white socials icons */
    transition: transform 0.3s, filter 0.3s;
  }
  
  .footer .social-links li a:hover img {
    transform: scale(1.2);
  }